GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbw3vpnaV9UqEX7Exs14HJhuZgwr17G8X7jZozilW130WKob87HSM2Qqdj3tNCwyPwRx/exec
COMPLETE_SECRET_KEY=some-long-but-random-secret-string-only-you-know
SPY_ACADEMY_DIGITAL_CHECKOUT_URL=https://checkout.mailerlite.com/checkout/30953
SPY_ACADEMY_PRINTOUT_CHECKOUT_URL=https://buy.stripe.com/test_cNi28q3R3cO6aXQ5e5c7u00
